<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'project1/css/styl2.css' %}">
</head>
<body>
    <div class="continer">
        <div class="card">
            <div class="left"><img src="{{post.Cimg.url}}" alt=""></div>
            <div class="right">
                <h1>{{post}}</h1>
                <p>{{post.CAbout}}</p>
                <h3>{{post.CPrice}}</h3>
                <button>Buy</button>
            </div>
        </div>

        
</div>
</body>
</html>